*{
    font-family:'Biko Bold';
    font-weight:normal
}
.nav-style{
    background-color:  #0864B1;
    padding-top: 44px;
    padding-left: 84px;
    padding-right: 100px;
    
}

.jumbotron-style{
    background-color: #0864B1;
    color: #ffffff;
}

#jumbotronIMG{
    background: url(../images/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 464px;
    height: 539px;
    float: right;
    margin-top: 100px;
    
}

.jumbotronheadstyle{
    font-size: 60px;
    padding-top: 150px;
}

.jumbotroncontentstyle{
    font-size: 23px;
}


.navbrandstyle{
    font-size: 30px; 
    font-weight: bold;

}

.contenthead{
    color: #0864B1;
    font-size: 33px;
    text-align: center;
    
}

.contenthr{
    height: 5px;
    width: 15%;
    text-align: center;
    background: #676767;
}

.contentaboutus{
    color: #676767;
    text-align: center;
    font-size: 23px;
    margin: 80px;
    line-height: 50px;
}

.abtustilehead{
    text-align: center;
    font-size: 70px;
    color: #0864B1;
    font-weight: bold;
    margin-bottom: 0px;
}

.abtustileContent{
    font-size: 27px;
    text-align: center;
    color: #676767;
}

.abtustile{
    border-right: 1px solid grey;
}

.abtuspad{
    margin-top: 100px;
    margin-bottom: 100px;
}

.feature{
    height: 170px;
    width: 170px;
    background-color: #0864B1;
    display: inline-block;
    margin-left: 27%;

}

.contentFeatures{
    text-align: center;
    font-size: 23px;
    color: #676767;
}

#feature1{
    background: url(../images/lamp.png) no-repeat;
    height: 80px;
    width: 80px;
    margin: 45px;
    background-repeat: no-repeat;
    background-size: cover;
}

#feature2{
    background: url(../images/evolution.png) no-repeat;
    height: 74px;
    width: 80px;
    margin: 45px;
    background-repeat: no-repeat;
    background-size: cover;
}

#feature3{
    background: url(../images/currency.png) no-repeat;
    height: 74px;
    width: 74px;
    margin: 48px;
    background-repeat: no-repeat;
    background-size: cover;
}

#features,.testimonials{
    background-color: #F5F5F5;
    padding-bottom: 100px;
    padding-top: 50px;
}

.featurepad{
    padding-top: 130px;
}

.latestnewstyling{
    padding-top: 50px;
    margin-left: 30px;
}

.testimonial{
    background-color: #fff;
    margin-left: 160px;
    width: 70%;
}

.testimonial1{
    text-align: center;
    font-size: 21px;
    color: #676767;
    padding: 10px;
}

.buttonshiftleft{
    left : 10px;
    color: black;
}

.author{
    text-align: center;
    color:#0864B1;
    font-size: 21px;
    font-weight: bold;
}

.auth2{
    text-align: center;
    color: #676767;
    font-size: 21px;
}
.newsletter,.footer{
    background-color: #0864B1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.newsletterhead{
    font-size: 56px;
    color: #fff;
    line-height: 80px;
    font-weight: bold;
}

.inputnewsletter{
    margin-top: 80px;
    width: 500px;
    height: 70px;
    margin-left: 50px;
}

.inputnewsletter,
input::-webkit-input-placeholder {
    font-size: 25px;
    line-height: 3;
}

.newsletterbutton{
    margin-top: 15px;
    margin-left: 150px;
    height: 70px;
    width: 300px;
    color: #fff;
    background-color: #0864B1;
    border: 2px solid white;
    font-size: 30px;
    padding: 10px;
}

#contactus{
    padding-top: 50px;
    background-color: #F5F5F5;
}

.formhead{
    color: #0864B1;
    font-size: 23px;
    font-weight: bold;
}

.contactusinput{

    height: 70px;
    box-shadow: #676767;
}

.btnreset{
    background-color: #F5F5F5;
    border: #F5F5F5;
    color: #0864B1;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btnsubmit{
    background-color: #0864B1;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footerhead{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-left: 80px;
}

.footeraddress{
    font-size: 15px;
    color: #fff;
    padding-top: 20px;
    padding-left: 10px;
}

.footercopy{
    font-size: 17px;
    color: #fff;
    padding-left: 80px;
    
}

.footercon{
    float: right;
    padding-right: 80px;
}

.footerConnected{
    color: #fff; 
    font-weight: bold;
    font-size: 20px;
    float: right; 
    padding-right: 130px;
}

.footerSM{
    color: #fff;
    float: right;
    font-size: 40px;
    margin: 10px
}

.footerSM1{
    color: #fff;
    float: right;
    font-size: 40px;
    margin: 10px;
    padding-right: 50px;
}

.madeby{
    font-weight: bold; 
    font-size: 17px;
    color: #fff;
    float: right;
    padding-right: 95px;
}

.url{
    color: #fff; 
    font-size: 15px;
    float: right; 
    padding-right: 34px;
}